[submodule "threadx"]
	path = threadx
	url = https://github.com/azure-rtos/threadx.git
[submodule "mt3620_lib"]
	path = mt3620_lib
	url = https://github.com/CodethinkLabs/mt3620-m4-drivers.git
[submodule "guix"]
	path = guix
	url = https://github.com/azure-rtos/guix
[submodule "mt3620-m4-samples"]
	path = mt3620-m4-samples
	url = https://github.com/CodethinkLabs/mt3620-m4-samples.git
